<section class="flex flex-col gap-8">
    <div class="flex flex-col gap-2">
        <p class="text-text-secondary">Hi, I am</p>
        <h1 class="text-6xl font-black tracking-tighter">
            Dennis <span class="text-accent">Mithamo</span>
        </h1>
        <div>
            <span class="text-accent text-2xl">Software Engineer</span>
            <p class="text-text-secondary leading-relaxed">
                I am learning the fundamentals of distributed computation at the
                <a
                    href="https://computerscience.uonbi.ac.ke/Distributed-Systems"
                    target="_blank"
                    class="text-accent inline-flex items-center gap-1 hover:underline decoration-accent/30 underline-offset-4 transition-all"
                >
                    University of Nairobi
                    <svg
                        [lucideIcon]="LucideExternalLink"
                        class="w-3.5 h-3.5"
                    ></svg>
                </a>
                (MSc, CS), while working on high-performance data analytics
                systems at
                <a
                    href="https://sportserve.co"
                    target="_blank"
                    class="text-accent inline-flex items-center gap-1 hover:underline decoration-accent/30 underline-offset-4 transition-all"
                >
                    Sportserve
                    <svg
                        [lucideIcon]="LucideExternalLink"
                        class="w-3.5 h-3.5"
                    ></svg>
                </a>
            </p>
        </div>
    </div>

    <div class="flex flex-col gap-8">
        <h2 class="text-sm uppercase tracking-[0.2em] text-accent font-bold">
            Experience
        </h2>

        @for (item of experienceFiles; track item.filename) {
            <div
                class="group relative grid grid-cols-1 md:grid-cols-[1fr_2fr] gap-4"
            >
                <div class="flex flex-col gap-2">
                    <a href="{{ item.attributes.website }}" target="_blank">
                        <h3 class="text-2xl font-bold text-text-primary">
                            {{ item.attributes.company }}
                        </h3>
                        <div
                            class="flex items-center gap-2 text-text-secondary text-sm"
                        >
                            <svg
                                [lucideIcon]="LucideCalendar"
                                class="w-4 h-4"
                            ></svg>
                            {{ item.attributes.period }}
                        </div>
                    </a>
                </div>

                <div class="flex flex-col gap-4">
                    <div class="flex items-center gap-2">
                        <svg
                            [lucideIcon]="LucideIdCardLanyard"
                            class="w-5 h-5 text-accent"
                        ></svg>
                        <span class="text-lg font-semibold">{{
                            item.attributes.title
                        }}</span>
                    </div>

                    <div
                        class="text-text-secondary leading-relaxed prose prose-invert"
                    >
                        {{ item.attributes.description }}
                    </div>

                    <div class="flex flex-wrap gap-2 mt-2">
                        @for (tool of item.attributes.tools; track tool) {
                            <span
                                class="px-3 py-1 rounded-full bg-text-secondary/5 border border-text-secondary/10 text-text-secondary/75 text-xs font-medium hover:bg-accent/10 transition-colors"
                            >
                                #{{ tool }}
                            </span>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</section>
