<footer
  class="w-full py-12 px-6 mt-auto border-t border-gray-100 dark:border-white/5 bg-white/30 dark:bg-black/20 backdrop-blur-sm relative z-10"
>
  <div
    class="max-w-4xl mx-auto grid grid-cols-1 md:grid-cols-3 items-center gap-6 text-sm text-text-secondary"
  >
    <div
      class="flex items-center gap-2 justify-center md:justify-start order-2 md:order-1"
    >
      <span class="flex items-center gap-1">
        <svg [lucideIcon]="LucideCopyright" class="w-4 h-4 text-accent"></svg>
        {{ currentYear }} Dennis Mithamo.
      </span>
    </div>

    <div class="flex justify-center order-1 md:order-2">
      <div
        class="flex items-center gap-2 px-4 py-2 rounded-full bg-accent/5 border border-accent/10 whitespace-nowrap"
      >
        <svg [lucideIcon]="LucideShieldCheck" class="w-4 h-4 text-accent"></svg>
        <span class="text-xs font-medium">Zero cookies. Zero trackers.</span>
      </div>
    </div>

    <div class="flex justify-center md:justify-end order-3">
      <a
        href="https://github.com/dmithamo/portfolio"
        target="_blank"
        class="flex items-center gap-2 hover:text-accent group"
      >
        <span class="border-b border-transparent group-hover:border-accent"
          >View Source</span
        >
        <svg [lucideIcon]="LucideExternalLink" class="w-3 h-3 opacity-50"></svg>
      </a>
    </div>
  </div>
</footer>
