<header
    class="sticky top-0 z-50 w-full transition-all duration-300"
    [class.scrolled-header]="isScrolled()"
>
    <div
        class="brand-tier w-full flex justify-center py-6 bg-background/80 backdrop-blur-md border-b border-white/5 transition-all duration-500"
    >
        <a
            routerLink="/"
            class="group flex items-center select-none tracking-tighter"
        >
            <div class="text-2xl font-fredoka">
                <span class="font-black text-accent">D</span>
                <span class="font-semibold text-text-primary ml-1"
                    >Mithamo</span
                >
                <span class="font-black text-accent">.</span>
            </div>
        </a>
    </div>

    <nav
        class="w-full flex justify-center items-center gap-12 py-4 bg-background/40 backdrop-blur-sm border-b border-white/5 font-medium"
    >
        @for (navItem of navItems; track navItem.href) {
            <a
                [href]="navItem.href"
                [target]="navItem.isDownloadable ? '_blank' : '_self'"
                class="capitalize flex items-center gap-2 text-text-secondary hover:text-accent transition-all duration-300 py-1 group relative"
            >
                <svg
                    [lucideIcon]="navItem.icon"
                    class="w-4 h-4 transition-transform group-hover:scale-110"
                    strokeWidth="2"
                ></svg>

                <span>{{ navItem.label }}</span>

                @if (navItem.isDownloadable) {
                    <svg
                        [lucideIcon]="LucideDownload"
                        class="w-3.5 h-3.5 opacity-0 -translate-y-1 group-hover:opacity-100 group-hover:translate-y-0 transition-all duration-300 text-accent/70"
                        strokeWidth="2.5"
                    ></svg>
                }
            </a>
        }
    </nav>
</header>
